{%- block form_errors -%}
    {%- if errors|length > 0 -%}
    <div class="alert alert-danger">
    <ul>
        {%- for error in errors -%}
            <li>{{ error.message }}</li>
        {%- endfor -%}
    </ul>
    </div>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_row -%}
    <div class="row">
    	<div class="col-md-3">
        {{- form_label(form) -}}
    	</div>
        <div class="col-md-4">
        {{- form_widget(form) -}}
        </div>
    	<div class="col-md-5">
        {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock form_row -%}